html { 
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Hierarquia de pesos */
h1, h2 {
    font-weight: 700; /* títulos fortes */
}

h3, h4 {
    font-weight: 500; /* subtítulos */
}

p, li, input, textarea, button {
    font-weight: 400; /* textos padrão */
}

/* Banner fade-in */
#home .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

/* Card hover */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

/* Botão hover */
button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
